.textInput {
    border: none;
    width:30rem;
    height: 4rem;
    background-color: #242d34;
    color: white;
    font-family: oscine-rg,Arial,sans-serif;
    font-size: 2rem;
     padding: 0 1.6rem;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: black;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}