
.header {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }

 .logo {
    height: 80px;
    margin-left: 10px;
 }

.logo:hover {
    cursor: pointer;
}
 
 .nav {
    flex: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
 }
