.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:50px;
  min-height: 100vh;
  background-color: #4f535a;
}

span.error {
  color: red;
  background-color: white;
  padding: 5px;
  font-size: small;
}

